/* Enter your Styles below! */



/* home */

* {
	margin: 0;
	padding: 0;
}


.main_nav {
	float:right;
	list-style: none;
	margin-top: 30px;
}
.main_nav li {
	display: inline-block;
}

.main_nav li a {
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: 'Alata', sans-serif;
	font-size: 15px;
}
.main_nav li.active a {
	border: 1px solid white;
}

.main_nav li a:hover {

	border: 1px solid white; 
}

.logo img{
	width: 150px;
	height: auto;
	float: left;
	padding: 20px;
}
.home{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/pizza.png); 
	height: 100vh;
	background-size: cover;
	background-position: center;
}

body{
	font-family: 'Alata', sans-serif;

}

.row{
	max-width: 1200px;
	margin: auto;
}

.hero{
	position: absolute;
	width: 1200px;
	margin: auto;
}

h1 {
	color: white;
	text-transform: uppercase;
	font-size: 70px;
	text-align: center;
	margin-top: 275px;

}

.button {
	font-family: 'Arvo', serif; 
	margin-top: 30px;
	margin-left:440px;
}

.btn{
	border: 1px solid white;
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	margin-right: 5px;
	font-size:13px;
	text-transform: uppercase;
}

.btn-one:hover {
	background-color: darkorange;
}

.btn-two:hover {
	background-color: darkorange;
}


/* Enter your Styles below! */
.dining-room {
	background-image: url(../images/dining_room.png); 
}
* {box-sizing: border-box;}

 form{
 	max-width: 300px; 
 	margin: 10px auto;
 	padding: 40px 20px;
 	background: #f4f7f8;
 	border-radius: 8px;

 }

 .reserve{
 	margin: 0 0 30px 0;
 	text-align: center;
 	color: black;
 }

 input[type="text"],
 input[type="email"],
 textarea,
 select {
 	background: regba(255,255,255,0.1);
 	border-style: none;
 	font-size: 16px;
 	margin: 0;
 	outline: 0;
 	padding: 15px;
 	width: 100%;
 	background-color: #e8eeef; 
 	color:#8a97a0;
 	box-shadow: 0 1px 0 rgb(0,0,0,0.3) inset;
 	margin-bottom:30px ;
 }

 input:focus, textarea:focus{
 	box-shadow: 0 0 5px rgb(255,215,0);
 	border: 1px solid rgb(255,215,0)
 }

 input[type="radio"],
 input[type="checkbox"]{
 	margin: 0 4px 8px 0;
 }

 select{
 	padding: 6px;
 	height: 32px;
 	border-radius: 2px; 
 }

fieldset{
	font-family: 'Arvo', serif; 
	margin-bottom: 30px;
	border-style: none;
} 

legend{
	display:block;
	margin-bottom:8px;
}

label .light {
	font-weight: 300;
	display: inline;
}



.section{
	background-color: #FF8C00;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgb(255,140,0);
	border-radius: 100%;

}

.btn-reserve{
	font-family: 'Arvo', serif; 
	padding: 19px 39px 18px 39px;
	color: #fff;
	background-color: #FF8C00;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	border-radius: 5px;
	width: 100%;
	border: none;
	margin:10px;

}

@media screen and (min-width: 400px) {
	
	form {
		max-width: 480px;
	}
	
	.logo{
		visibility: none;
	}
}








